@import "tailwindcss";

@font-face {
  font-family: "Everett";
  src: url("/assets/fonts/Everett-Medium.woff") format("woff"),
    url("/assets/fonts/Everett-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Everett", sans-serif;
}
